@font-face {
    font-family: MyFont;
    src: url(../UI/ui/fonts/OpenSans-Regular.ttf);
}

body {
    font-family: MyFont;
    background-color: rgb(31, 37, 46);
}

body.no-scroll {
    overflow: hidden;
}

/*LOGOUT*/

.logout-popup-wrapper {
    display: flex;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.logout-popup-wrapper.active{
    
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.6);
}

.logout-popup-wrap {
    padding: 1rem 2rem;
    background-color: aliceblue;
    border-radius: .5rem;
    transform: translateY(30px);
    transition: all 300ms ease-in-out;
}

.logout-popup-wrapper.active > .logout-popup-wrap {
    transform: translateY(0);
}

.logout-btns-wrap {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.logout-btn {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    border-radius: .5rem;
    background-color: rgb(0, 33, 95);
    padding: 1rem 2rem;
    cursor: pointer;
}

/*MAIN WRAPPER STYLE*/

.main-wrapper {
    display: flex;
    justify-content: center;
}

.main-wrap {
    display: flex;
    margin-top: 3.5rem;
}


/* LEFT PANEL */
.left-panel {
    min-width: 300px;
    min-height: 700px;
    background-color: rgb(0, 33, 95);
}

.user-info-wrap {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.profile-pic-left-panel {
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.username-email-wrap {
    text-align: center;
}

.username-left-panel {
    color: aliceblue;
    font-size: 2.5rem;
}

.email-left-panel {
    color: aliceblue;
    font-size: 1.5rem;
    opacity: .6;
}

.left-panel-buttons-wrap {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
}

.left-panel-btn {
    color: white;
    font-weight: 600;
    text-align: center;
    border-bottom: solid white 1px;
    padding: 1rem;
    background-color: rgb(56, 104, 194);
    cursor: pointer;
    font-size: 1.5rem;
    transition: all 300ms ease-in-out;
}

.left-panel-btn:hover {
    background-color: rgb(10, 52, 129);
}

.left-panel-button-icons {
    height: 40px;
    float: right;
}


/* RIGHT PANEL */
.right-panel {
    min-width: 800px;
    min-height: 700px;
    background-color: purple;
}

.right-panel-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(1, 47, 134);
    width: 800px;
    height: 100px;
}

.right-panel-header > h1 {
    margin:0; 
    color:white;
    font-size: 3rem;
}

.inner-panels-wrapper {
    display: flex;
}

.inner-left-panel {
    min-height: 600px;
    background: rgb(1, 61, 173);
    flex: 1;
}

.inner-right-panel {
    min-height: 600px;
    background: rgb(56, 104, 194);
    flex: 2;
    transition: all 300ms ease-in-out;
}

#radio-hide-chats:checked ~ .inner-right-panel{
    flex: 0;
}

.inner-panels-wrapper > input {
    display: none;
}

/*INNER LEFT PANEL*/

.settings-profile-pic {
    height: 160px;
    width: 160px;
}

.inner-left-panel-content {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap:1rem;
}

.chage-pic-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.change-profile-pic-btn {
    font-size: 1.6rem;
    background-color: rgb(56, 104, 194);
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 600;
    cursor: pointer;
}

/* UPDATE USER INFO */

.change-user-info-wrapper {
    background-color: rgb(0, 33, 95);
    padding: 1rem;
    border-radius: .5rem;
    color: aliceblue;
}
